#chartForm-container {
  .titleWords {
    color: white;
  }
  .logoutStyle {
    text-align: right;
    cursor: pointer;
  }
  .content {
    background: #fff;
    padding: 12;
    height: 89vh;
    .carAnimate {
      text-align: center;
      height: 50vh;
    }
    .progressChart {
      .ant-progress-circle-path {
        stroke: #4c7cd4;
      }
    }
    .upperRowCard {
      height: 50vh;
    }
  }
}