#receive-container {
  height: 70vh;
  .operationFormTitle {
    padding: 15px 0px;
  }
  .operationFormInput {
    padding: 15px 0px;
    text-align: center;
    .normal {
      color: black;
    }
    .green {
      width: 200px;
      height: 25px;
      background-color: green;
    }
    .red {
      width: 200px;
      height: 25px;
      background-color: red;
    }
  }
  .ant-form-item {
    margin-bottom: 5px;
  }
}